body{
    font-family: "Ubuntu", sans-serif;
    background-color: linen;
}

.header-picture {
    background-image: url(../images/54925-sun-rising-over-mesa-arch-canyonlands-utah-2022-03-04-02-38-40-utc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-picture > .greeting {
    background-color: rgba(115, 61, 56, 0.5);
    border: 5px solid var(--text);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.header-picture > .greeting > p {
    color: linen;
    font-family: "roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 1fr;
    line-height: 30px;
    padding: 20px;
}

.header-picture > .greeting > h1 {
    color: linen;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 20px;
}

.header-picture > .greeting > h2 {
    color: linen;
    letter-spacing: 1px;
    font-size: 1fr;
    line-height: 30px;
    padding-left: 20px;

}

.icon-wrapper {
    background-color: var(--brown);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

.text-stuff {
    background-color: var(--brown);
    border-radius: 4px;
}

/* this is the text for the three lines on top */
.content-map{
    font-family: "roboto", sans-serif;
    padding: 10px 50px 0px 50px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 40px;
    color: var(--text);
}