body{
    font-family: "Ubuntu", sans-serif;
}

.header-picture {
    background-image: url(../images/54925-sun-rising-over-mesa-arch-canyonlands-utah-2022-03-04-02-38-40-utc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-picture > .greeting {
    background-color: var(--background);
    border: 5px solid var(--text);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.header-picture > .greeting > p {
    color: white;
    font-family: "roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 1fr;
    line-height: 30px;
    padding: 20px;
}

.header-picture > .greeting > h1 {
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
}

.header-picture > .greeting > h2 {
    color: white;
    letter-spacing: 1px;
    font-size: 1fr;
    line-height: 30px;
}

/* this is the text for the three lines on top */
.content-map{

}