body{
    margin: 0px;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header-picture {
    display: flex;
    height: 500px;
    width: 100%;
    /* remove color later */
    background-color: red;
}

.header-picture> .greeting {
    display: flex;
    height: 1fr;
    width: 50%;
    justify-content: left;
    /* remove color later */
    background-color: blue;
    margin: 50px 30px;
}

.icon-wrapper {
    display: flex;
    height: 75px;
    width: 100%;
    /* remove color later */
    background-color: pink;
    margin-top: 30px;
}

.icon-wrapper > .icon {

}

.gallary-wrapper {
    display: flex;
    height: 500px;
    /* remove color later */
    background-color: green;
    margin: 30px 30px 0px 30px;
}

.gallary-wrapper > .gallary {

}