:root {
    --background: #ffdfc3;
    --orange: #F28D35;
    --burntsienna: #a04b1a;
    --darkburntsienna: #732002;
    --blues1:#296CA6;
    --blues2:#148DD9;
    --blues3:#11A0D9;
    --brown:#966D6A;
    --text: #400101;
}
/* nav */
nav {
    font-family: ;
    width: 100%;
    position: relative;
    height:65px;
    background: var(--background);
    border-bottom: 2px solid var(--brown);
    border-top: 2px solid var(--brown);
    
  }

.menu-item{
  width: 12.5%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  background-color: var(--background);
}
  
ul {

    list-style: none;
    margin: auto;
    padding-left: 0;
    padding: auto;
    font-size: small;

  }
  
  .menu-item {
    background: var(--brown);
    display: block;
    float: left;
    padding:  0;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    font-weight: 900;
  }
  .menu-item a {
    color: var(--background);
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
  }

.menu-item ul li{
    padding: 25px 0;
  }
    
  #nav li a {
    color: var(--text);
  }
  
.menu-item:hover,
.menu-item:focus-within 
.menu-item ul li ul:hover,
.menu-item  ul li ul:focus-within {
    background: #733d3863;
    cursor: pointer;
  }
  
li:focus-within a {
    outline: none;
  }
  
ul li ul {
    background: var(--background);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    padding:auto 0;
    width: 100%;
    margin-top:21px;
    z-index: 2;
  }
  
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  }
  
th td {
    clear: both;
    display: flex;
  }
th {
   letter-spacing: 2px;
}
td {
   letter-spacing: 1px;
 }

th, td:hover {
    background: #733d3863;
  }

table {
  background-color: var(--background);
  table-layout: auto;
  width: 100%;

}


th, td {
  padding: 20px 30px;
}

/* Sign up links */
.sign-up-here {
  margin-bottom: 1.75rem;
  border-radius: 0.8rem;
  box-shadow: 0 8px 0px rgba(0 0 0/0.15);
  background-color: lightgray;
  text-align: center;
  padding: 1em;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 8px 0px rgba(0 0 0/0.15);
  color: var(--background);
  background-color: var(--brown);
}

.form-input {
  width: 100%;
  margin-bottom: 1em;
  position: relative;
}

.form-input span {
  background-color: #d5d5d5;
  color: white;
  display: none;
}


.form-input input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 2px solid var(--burntsienna);
  border-radius: 0.5em;
  font-weight: 600;
  color: var(--text);
}

.form-input input:focus {
  outline: none;
  border: 2px solid var(--background);
}

.form-input p {
  margin: 0.2em 0.75em 0 0;
  display: none;
  font-size: 0.75rem;
  text-align: right;
  font-style: italic;
}

.submit-btn {
  cursor: pointer;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 5px solid var(--darkburntsienna);
  border-radius: 0.5em;
  background-color: var(--brown);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.submit-btn:hover {
  background-color: var(--blues1);
}

@media (min-width: 768px) {
  body {
    align-items: center;
    min-height: 100vh;
  }

  main {
    max-width: 100vw;
    flex-direction: row;
    justify-content: center;
  }

  .sign-up {
    width: 45%;
  }

  .sign-up-form {
    padding: 1.75rem;
  }

  .sign-up-form input {
    padding-left: 1.5em;
  }
}
















/* footer */
.site-footer
{
  background-color: var(--brown);
  padding:45px;
  font-size:15px;
  line-height:24px;
  color: var(--text);
}

.site-footer a
{
  color: var(--text);
}
.site-footer .social-icons
{
  text-align:right;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons li
{
  display:inline-block;
  margin: 2px;
}
.social-icons li.title
{
  text-transform:uppercase;
  color:var(--text);
  font-weight:700;
  font-size:13px;
}
.social-icons a{
  background-color: var(--background);
  color:var(--orange);
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:var(--burntsienna);
  background-color:var(--blues1);
}
.social-icons.size-sm a
{
  line-height: 1fr;
  height:34px;
  width:34px;
  font-size:14px;
}
.social-icons a:hover
{
  background-color:var(--blues3);
}