:root {
    --background: #7B92A6;
    --grey: #C3C3E6;
    --orange: #F28D35;
    --burntsienna: #A63F03;
    --darkburntsienna: #732002;
    --blues1:#296CA6;
    --blues2:#148DD9;
    --blues3:#11A0D9;
    --brown:#733D38;

    --text: #400101;
}